@model SystemBiblioteczny.Models.Ksiazka

<h1>Egzemplarze książki</h1>

<h3>@Model.Tytul</h3>

<table class="table table-striped">

    <thead>
        <tr>
            <th>ID egzemplarza</th>
            <th>Status</th>
        </tr>
    </thead>

    <tbody>

        @foreach (var egz in Model.Egzemplarze)
        {
            <tr>

                <td>
                    @egz.EgzemplarzId
                </td>

                <td>
                    @egz.Status
                </td>

            </tr>
        }

    </tbody>

</table>

@if (User.IsInRole("Bibliotekarz"))
{
    <form asp-action="DodajEgzemplarz" asp-controller="Ksiazki" asp-route-id="@Model.KsiazkaId" method="post" class="mt-3 mb-3">
        <button type="submit" class="btn btn-success">
            Dodaj kolejny egzemplarz
        </button>
    </form>
}

@if (TempData["SukcesEgzemplarz"] != null)
{
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        @TempData["SukcesEgzemplarz"]
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}

<a asp-action="Index"
       class="btn btn-secondary">
    Powrót
</a>